.circle {
  margin: 36px;
  display: inline-block;
  padding: 16px;
  text-align: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #1d2087;
}
p
{
  vertical-align: middle;
}
.circle::before,
.circle::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.circle,
.circle::before,
.circle::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.circle {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid  #0098cc;
  color:  #0098cc;
  line-height: 50px;
  overflow: hidden;
}

.circle:hover {
  color: #fff;
}
.circle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.circle:hover::after {
  background:  #0098cc;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);

}

.circle1 {
  opacity: 0.4;
}
.circle2 {
  opacity: 0.4;
}
.circle3 {
  opacity: 0.4;
}
.circle4 {
  opacity: 0.4;
}
.circle5 {
  opacity: 0.4;
}
.circle6 {
  opacity: 0.4;
}
.circle7 {
  opacity: 0.4;
}
.circle8 {
  opacity: 0.4;
}
.circle a {
  text-decoration: none;
  color:  #026b8e;
}
.circle a:hover {
  text-decoration: none;
  color:  #026b8e;
}
.circle h2 {
  font-size: 25px;
  vertical-align: middle;
  margin-top: 60px;
}

.circle h2 small {
  color:  #0098cc;
}

.circle p {
  font-size: 24px;
  line-height: 26px;
}
