.form-control
{
	padding-bottom: 10px;
	margin-bottom: 15px;
}
input[type="text"]
{
	padding-bottom: 20px;
	padding-top: 20px;
}
.panel
{
	border-radius: 0px;
	margin-top: 70px;
	padding-bottom: 30px;
}
.backlogin
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.heading
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn-block
{
	font-size: 18px;
	font-weight: 2em;
	font-style: bold;
}
h2
{
	margin-top: 30px;
}