.panel{
	
	margin-top:25px;
	box-shadow: 5px 5px 1px black;
	
}

h2{
	margin-top: 100px;
}
.form-group{

	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
color:black;
}
.form-control
{
position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
     margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type=submit].btn-block
{
	border-radius: 10px;
}
.acc-dont
{
	text-align: right;
	font-size: 15px;
}
h2.small
{
text-transform:none;
font-size: 30px;
}